CREATE USER TEST PASSWORD "" ADMIN
CREATE TABLE ADDRESS(ID INTEGER NOT NULL PRIMARY KEY,FIRSTNAME VARCHAR(255),LASTNAME VARCHAR(255),STREET VARCHAR(255),CITY VARCHAR(255))
CREATE TABLE PRODUCT(ID INTEGER NOT NULL PRIMARY KEY,NAME VARCHAR(255),COST DECIMAL)
INSERT INTO ADDRESS VALUES(0,'Laura','Steel','429 Seventh Av.','Dallas')
INSERT INTO ADDRESS VALUES(1,'Susanne','King','366 - 20th Ave.','Olten')
INSERT INTO ADDRESS VALUES(2,'Anne','Miller','20 Upland Pl.','Lyon')
INSERT INTO ADDRESS VALUES(3,'Michael','Clancy','542 Upland Pl.','San Francisco')
INSERT INTO ADDRESS VALUES(4,'Sylvia','Ringer','365 College Av.','Dallas')
INSERT INTO ADDRESS VALUES(5,'Laura','Miller','294 Seventh Av.','Paris')
INSERT INTO ADDRESS VALUES(6,'Laura','White','506 Upland Pl.','Palo Alto')
INSERT INTO ADDRESS VALUES(7,'James','Peterson','231 Upland Pl.','San Francisco')
INSERT INTO ADDRESS VALUES(8,'Andrew','Miller','288 - 20th Ave.','Seattle')
INSERT INTO ADDRESS VALUES(9,'James','Schneider','277 Seventh Av.','Berne')
INSERT INTO ADDRESS VALUES(10,'Anne','Fuller','135 Upland Pl.','Dallas')
INSERT INTO ADDRESS VALUES(11,'Julia','White','412 Upland Pl.','Chicago')
INSERT INTO ADDRESS VALUES(12,'George','Ott','381 Upland Pl.','Palo Alto')
INSERT INTO ADDRESS VALUES(13,'Laura','Ringer','38 College Av.','New York')
INSERT INTO ADDRESS VALUES(14,'Bill','Karsen','53 College Av.','Oslo')
INSERT INTO ADDRESS VALUES(15,'Bill','Clancy','319 Upland Pl.','Seattle')
INSERT INTO ADDRESS VALUES(16,'John','Fuller','195 Seventh Av.','New York')
INSERT INTO ADDRESS VALUES(17,'Laura','Ott','443 Seventh Av.','Lyon')
INSERT INTO ADDRESS VALUES(18,'Sylvia','Fuller','158 - 20th Ave.','Paris')
INSERT INTO ADDRESS VALUES(19,'Susanne','Heiniger','86 - 20th Ave.','Dallas')
INSERT INTO ADDRESS VALUES(20,'Janet','Schneider','309 - 20th Ave.','Oslo')
INSERT INTO ADDRESS VALUES(21,'Julia','Clancy','18 Seventh Av.','Seattle')
INSERT INTO ADDRESS VALUES(22,'Bill','Ott','250 - 20th Ave.','Berne')
INSERT INTO ADDRESS VALUES(23,'Julia','Heiniger','358 College Av.','Boston')
INSERT INTO ADDRESS VALUES(24,'James','Sommer','333 Upland Pl.','Olten')
INSERT INTO ADDRESS VALUES(25,'Sylvia','Steel','269 College Av.','Paris')
INSERT INTO ADDRESS VALUES(26,'James','Clancy','195 Upland Pl.','Oslo')
INSERT INTO ADDRESS VALUES(27,'Bob','Sommer','509 College Av.','Seattle')
INSERT INTO ADDRESS VALUES(28,'Susanne','White','74 - 20th Ave.','Lyon')
INSERT INTO ADDRESS VALUES(29,'Andrew','Smith','254 College Av.','New York')
INSERT INTO ADDRESS VALUES(30,'Bill','Sommer','362 - 20th Ave.','Olten')
INSERT INTO ADDRESS VALUES(31,'Bob','Ringer','371 College Av.','Olten')
INSERT INTO ADDRESS VALUES(32,'Michael','Ott','339 College Av.','Boston')
INSERT INTO ADDRESS VALUES(33,'Mary','King','491 College Av.','Oslo')
INSERT INTO ADDRESS VALUES(34,'Julia','May','33 Upland Pl.','Seattle')
INSERT INTO ADDRESS VALUES(35,'George','Karsen','412 College Av.','Chicago')
INSERT INTO ADDRESS VALUES(36,'John','Steel','276 Upland Pl.','Dallas')
INSERT INTO ADDRESS VALUES(37,'Michael','Clancy','19 Seventh Av.','Dallas')
INSERT INTO ADDRESS VALUES(38,'Andrew','Heiniger','347 College Av.','Lyon')
INSERT INTO ADDRESS VALUES(39,'Mary','Karsen','202 College Av.','Chicago')
INSERT INTO ADDRESS VALUES(40,'Susanne','Miller','440 - 20th Ave.','Dallas')
INSERT INTO ADDRESS VALUES(41,'Bill','King','546 College Av.','New York')
INSERT INTO ADDRESS VALUES(42,'Robert','Ott','503 Seventh Av.','Oslo')
INSERT INTO ADDRESS VALUES(43,'Susanne','Smith','2 Upland Pl.','Dallas')
INSERT INTO ADDRESS VALUES(44,'Sylvia','Ott','361 College Av.','New York')
INSERT INTO ADDRESS VALUES(45,'Janet','May','396 Seventh Av.','Oslo')
INSERT INTO ADDRESS VALUES(46,'Andrew','May','172 Seventh Av.','New York')
INSERT INTO ADDRESS VALUES(47,'Janet','Fuller','445 Upland Pl.','Dallas')
INSERT INTO ADDRESS VALUES(48,'Robert','White','549 Seventh Av.','San Francisco')
INSERT INTO ADDRESS VALUES(49,'George','Fuller','534 - 20th Ave.','Olten')
INSERT INTO PRODUCT VALUES(0,'Iron Iron',5.4)
INSERT INTO PRODUCT VALUES(1,'Chair Shoe',24.8)
INSERT INTO PRODUCT VALUES(2,'Telephone Clock',24.8)
INSERT INTO PRODUCT VALUES(3,'Chair Chair',25.4)
INSERT INTO PRODUCT VALUES(4,'Ice Tea Shoe',12.8)
INSERT INTO PRODUCT VALUES(5,'Clock Clock',23.6)
INSERT INTO PRODUCT VALUES(6,'Ice Tea Chair',9.8)
INSERT INTO PRODUCT VALUES(7,'Telephone Shoe',8.4)
INSERT INTO PRODUCT VALUES(8,'Ice Tea Clock',22.6)
INSERT INTO PRODUCT VALUES(9,'Clock Telephone',17.2)
INSERT INTO PRODUCT VALUES(10,'Telephone Ice Tea',20.4)
INSERT INTO PRODUCT VALUES(11,'Telephone Iron',8.8)
INSERT INTO PRODUCT VALUES(12,'Clock Ice Tea',16.8)
INSERT INTO PRODUCT VALUES(13,'Telephone Clock',18.0)
INSERT INTO PRODUCT VALUES(14,'Telephone Iron',12.4)
INSERT INTO PRODUCT VALUES(15,'Ice Tea Chair',9.4)
INSERT INTO PRODUCT VALUES(16,'Ice Tea Shoe',19.4)
INSERT INTO PRODUCT VALUES(17,'Clock Ice Tea',22.0)
INSERT INTO PRODUCT VALUES(18,'Chair Clock',17.2)
INSERT INTO PRODUCT VALUES(19,'Ice Tea Ice Tea',11.0)
INSERT INTO PRODUCT VALUES(20,'Ice Tea Telephone',20.0)
INSERT INTO PRODUCT VALUES(21,'Chair Chair',11.4)
INSERT INTO PRODUCT VALUES(22,'Iron Iron',6.6)
INSERT INTO PRODUCT VALUES(23,'Shoe Chair',7.6)
INSERT INTO PRODUCT VALUES(24,'Chair Shoe',7.2)
INSERT INTO PRODUCT VALUES(25,'Shoe Shoe',16.2)
INSERT INTO PRODUCT VALUES(26,'Shoe Shoe',25.2)
INSERT INTO PRODUCT VALUES(27,'Telephone Iron',23.0)
INSERT INTO PRODUCT VALUES(28,'Clock Iron',3.0)
INSERT INTO PRODUCT VALUES(29,'Chair Telephone',11.2)
INSERT INTO PRODUCT VALUES(30,'Shoe Iron',23.2)
INSERT INTO PRODUCT VALUES(31,'Ice Tea Telephone',4.8)
INSERT INTO PRODUCT VALUES(32,'Clock Iron',19.0)
INSERT INTO PRODUCT VALUES(33,'Iron Chair',18.2)
INSERT INTO PRODUCT VALUES(34,'Chair Iron',25.6)
INSERT INTO PRODUCT VALUES(35,'Telephone Shoe',7.6)
INSERT INTO PRODUCT VALUES(36,'Ice Tea Iron',3.2)
INSERT INTO PRODUCT VALUES(37,'Clock Shoe',9.4)
INSERT INTO PRODUCT VALUES(38,'Clock Ice Tea',21.6)
INSERT INTO PRODUCT VALUES(39,'Ice Tea Shoe',15.4)
INSERT INTO PRODUCT VALUES(40,'Shoe Clock',2.8)
INSERT INTO PRODUCT VALUES(41,'Clock Ice Tea',20.6)
INSERT INTO PRODUCT VALUES(42,'Iron Chair',19.8)
INSERT INTO PRODUCT VALUES(43,'Telephone Clock',9.4)
INSERT INTO PRODUCT VALUES(44,'Ice Tea Ice Tea',9.6)
INSERT INTO PRODUCT VALUES(45,'Iron Ice Tea',18.0)
INSERT INTO PRODUCT VALUES(46,'Ice Tea Clock',6.2)
INSERT INTO PRODUCT VALUES(47,'Ice Tea Iron',17.8)
INSERT INTO PRODUCT VALUES(48,'Clock Clock',21.0)
INSERT INTO PRODUCT VALUES(49,'Iron Iron',2.2)