<?xml version="1.0" encoding="UTF-8"?>


<plugin id="org.columba.mail.PlaySoundFilterAction" name="Play-a-sound filteraction" description="Play sound" category="Filter Action" version="1.0"  enabled="true">
 <extension name="org.columba.mail.filteraction">
  <filteraction name="Play Sound" main_class="org.columba.mail.filter.plugins.PlaySoundFilterAction" gui_class="org.columba.mail.gui.config.filter.plugins.DefaultActionRow" />
 </extension>
 <runtime type="java" jar="PlaySoundFilterAction.jar"/>
</plugin>
