<?xml version="1.0" encoding="UTF-8"?>
<plugin name="WinLAF Look And Feel" description="WinLAF Look And Feel" id="org.columba.core.WinLAFLookAndFeel" version="1.0" category="Look and Feel" enabled="true">
  <extensionlist id="org.columba.core.theme">
    <extension id="WinLAF" class="WinLAFLookAndFeelPlugin"></extension>
  </extensionlist>
  <runtime jar="WinLAFLookAndFeel.jar" type="java"></runtime>
</plugin>
