<?xml version="1.0" encoding="UTF-8"?>
<plugin name="My Hello World Plugin" 
        description="Simple Example" 
        id="org.columba.example.HelloWorldAction" 
        version="1.0" 
        category="Examples" 
        enabled="true">
  <extensionlist id="org.columba.core.action">
    <extension id="HelloWorld" class="com.mycom.HelloWorldAction">
     <properties menuid="menu_utilities" placeholderid="bottom"/>
    </extension>
  </extensionlist>
</plugin>
