<?xml version="1.0" encoding="UTF-8"?>

<menubar>

	<menu id="menu_file">
	    <menu id="menu_file_new">
	    	<menuitem id="OpenNewMailWindow"/>
	    	<menuitem id="OpenNewAddressbookWindow"/>	    	
	    	<placeholder id="open" />
	    </menu>	    
		<separator/>
		<placeholder id="top" />	
		
		<!--<menuitem id="PrintSetup"/>
		<separator/>-->
		
		<placeholder id="bottom" />
		<separator/>
        <checkboxmenuitem id="WorkOffline"/>
        <separator/>
		<menuitem id="Close"/>			
		<menuitem id="Exit"/>			
	</menu>
	
	<menu id="menu_edit">
		<menuitem id="Undo"/>			
		<menuitem id="Redo"/>			
		<separator/>
		<menuitem id="Cut"/>			
		<menuitem id="Copy"/>			
		<menuitem id="Paste"/>	
		
				
		<!-- <menuitem id="Delete"/> -->
		
		<!--<menuitem id="SelectAll"/> -->
		
		<separator/>
		<menuitem id="Find"/>
		<menuitem id="FindAgain"/>
		<separator/>
		<!--<placeholder id="top"/>-->
		<placeholder id="bottom"/>
		<menuitem id="GlobalOptions"/>
	</menu>
	
	<menu id="menu_view">	
		<menuitem id="Cancel"/>
		<separator/>
		
		<imenu id="ChoosePerspectiveSubmenu"/>
		
		<menu id="menu_view_show_hide">
			<checkboxmenuitem id="ViewToolbar"/>
			<checkboxmenuitem id="ViewFolderInfoPanel" />	
			<placeholder id="show_hide"/>
		</menu>
		<placeholder id="top"/>
		<placeholder id="bottom"/>
	</menu>
	
	<menu id="menu_utilities">
	 <!--
	 <menuitem id="OpenNewMailWindow"/>
	 <menuitem id="OpenNewAddressbookWindow"/>
	 <separator/>
	 -->
	 <menuitem id="OpenProfileManagerDialog" />
	 <menuitem id="PluginManagerDialog" />
	 <menuitem id="OpenExternalToolsDialog" />
	 <menuitem id="ViewLog" />
	 <placeholder id="bottom"/>
	</menu>

	<menu id="menu_help">
	 <menuitem id="ShowHelp"/>
	 <!--
	 <menuitem id="ShowContextSpecificHelp"/>
	 -->
	 <separator/>
	 <menuitem id="ShowFAQ"/>
	 <menuitem id="ShowBugDatabase"/>
	 <menuitem id="Donate" />
	 <menuitem id="ShowLicense"/>
	 <menuitem id="ShowHomepage"/>
	 <menuitem id="ShowProjectPage"/>
	 <separator/>
	 <menuitem id="AboutDialog"/>
	</menu>

</menubar>