<?xml version="1.0" encoding="UTF-8"?>
<plugin name="Log display" description="displays the log for Columba" id="org.columba.core.LogDisplay" version="0.9" enabled="true">
  <extensionlist id="org.columba.core.action">
   <extension id="LogDisplayAction" class="org.columba.core.gui.logdisplay.DisplayLogAction">
     <properties menuid="menu_utilities" placeholderid="bottom"/>
   </extension>
  </extensionlist> 
</plugin>
