<?xml version="1.0" encoding="UTF-8"?>

<menubar>

	<menu id="menu_file_new" placeholderid="open">
	    <separator />
		<menuitem id="AddContactCard"/>	
		<menuitem id="AddGroupCard"/>	
	</menu>
	
	<menu id="menu_file" placeholderid="top">
		<menuitem id="RemoveCard" />
        <menuitem id="EditProperties" />
	</menu>
	
	<menu id="menu_utilities" placeholderid="bottom">
	    <separator />
        <menuitem id="AddVCard"/>
        <menuitem id="ExportVCard" />
	 	<menuitem id="AddressbookImport"/>
	</menu>
	
</menubar>
