<?xml version="1.0" encoding="UTF-8"?>

	<menubar>
	
	<menu id="menu_file_new" placeholderid="open">
	    <separator />
		<menuitem id="NewMessage"/>
	</menu>
	
	
	<menu id="menu_file" placeholderid="top">		
		<imenu id="ReceiveMenu" />
		<separator/>
		<menuitem id="ReceiveSend"/>	
		<menuitem id="Receive"/>	
		<menuitem id="SendAll"/>
		
		<separator/>
		<menuitem id="Print"/>	
		
		<!--	
		<separator/>
		<imenu id="ManageServerMenu" />-->
		
		<!--<separator/>-->
		<menuitem id="SaveMessageSourceAs" />
        
	</menu>

	<menu id="menu_edit" placeholderid="bottom">
		<menuitem id="SearchMessage"/>
		<separator/>
		<menuitem id="MailAccount"/>
		<menuitem id="MailOptions"/>
		<separator/>
	</menu>
	
	<menu id="menu_view_show_hide" placeholderid="show_hide">
		<checkboxmenuitem id="ShowMessagePreview" />
	</menu>
	
	<menu id="menu_view" placeholderid="top">
	    <menuitem id="ColumnDialog"/>
		<separator/>	    
		<imenu id="SortMessagesMenu"/>	
		<imenu id="SortFoldersMenu"/>		
		<separator/>
		<imenu id="HeadersMenu"/>
		<separator/>
		<checkboxmenuitem id="ThreadedView"/>
		<separator/>
		
		
		<menu id="menu_view_next">
			<menuitem id="NextMessage" />
			<menuitem id="NextUnreadMessage" />
		</menu>
		<menu id="menu_view_prev">
			<menuitem id="PreviousMessage" />
			<menuitem id="PreviousUnreadMessage" />
		</menu>
		<separator/>
		
		<imenu id="CharacterEncodingMenu" />
		<separator/>
		<menuitem id="ViewMessageSource"/>
	</menu>
	
	<menu id="menu_folder">
	 <menuitem id="CreateSubFolder"/>
	 <menuitem id="CreateVirtualFolder"/>
	 <separator/>
	 <menuitem id="RenameFolder"/>
	 <menuitem id="RemoveFolder"/>
	 <separator/>
	 <menuitem id="ExpungeFolder"/>
	 <menuitem id="MarkFolderAsRead"/>
	 <!--
	 <menuitem id="EmptyFolder"/>
	 -->
	 <separator/>
	 <!--
	 <menuitem id="MoveUp"/>
	 <menuitem id="MoveDown"/>
	 <separator/>
	 -->
	 <menuitem id="ApplyFilter"/>
	 <menuitem id="FilterPreferences"/>
	 <placeholder id="top" />	
	 <placeholder id="bottom" />	
	 <separator/>
	 <!--
	 <menuitem id="SubscribeFolder"/>
	 <separator/>
	 -->
	 <menuitem id="FolderOptions"/>
	</menu>
	
	<menu id="menu_message">
		<menuitem id="NewMessage" />
		<menuitem id="OpenMessageWithComposer" />
		<!--
		<menuitem id="OpenMessageWithMessageFrame" />
		-->
		<menuitem id="SaveMessageBodyAs" />
		<separator />
		<menuitem id="Reply" />
		<menuitem id="ReplyToAll" />
		<menuitem id="ReplyToList" />
		<menuitem id="ReplyAsAttachment"/>
		<menuitem id="ReplyWithTemplate"/>
		<menuitem id="Forward" />
		 <menu id="menu_message_forward_as">
	      <menuitem id="ForwardInline" />
	      <menuitem id="ForwardAsAttachment" />
	      <separator/>
	      <menuitem id="Redirect" />
	     </menu>
		<separator />
		<menuitem id="CopyMessage" />
		<menuitem id="MoveMessage" />
		<menuitem id="DeleteMessage" />
		<separator/>
		<menuitem id="AddSenderToAddressbook"/>
		<!--
		<menuitem id="AddAllSendersToAddressbook"/>
		-->
		<placeholder id="top" />	
		<placeholder id="bottom" />	
		<separator/>
		 
		<imenu id="ColorMessageMenu"/>
		<separator/>
		<menu id="menu_message_mark">
		 <menuitem id="ToggleReadFlag"/>
		 <menuitem id="ToggleAnsweredFlag"/>
		 <menuitem id="ToggleDraftFlag"/>
		 <menuitem id="ToggleFlaggedFlag"/>
		 <menuitem id="ToggleExpungedFlag"/>
		 <menuitem id="ToggleSpamFlag"/>
		</menu>		
	</menu>
	
	
	<menu id="menu_utilities" placeholderid="bottom">
	 
	
	  <!-- fdietz: disabled for stable release.
	   these actions are only available for macchiato developers
	   TODO: add debug flag instead -->
	   <!--
	 <menuitem id="TrainMessageAsSpam"/>
	 <menuitem id="TrainMessageAsHam"/>
	 <menuitem id="ScoreMessage"/>
	 <separator/>
	 -->
	 <placeholder id="mail_bottom" />
	 <separator/>	
	 <menu id="menu_message_filteronmessage">
	      <menuitem id="CreateFilterOnSubject"/>
	      <menuitem id="CreateFilterOnFrom"/>
	      <menuitem id="CreateFilterOnTo"/>
	      <separator/>
	      <menuitem id="CreateVFolderOnSubject"/>
	      <menuitem id="CreateVFolderOnFrom"/>
	      <menuitem id="CreateVFolderOnTo"/>
	     </menu>
	    <separator/>
	  <menuitem id="ExportDialog"/>
	  <menuitem id="MailImport"/>
	</menu>
	</menubar>