<?xml version="1.0" encoding="UTF-8"?>
<plugin name="Hippo Look And Feel" description="Hippo Look And Feel" id="org.columba.core.HippoLookAndFeel" version="1.0" category="Look and Feel" enabled="true">
  <extensionlist id="org.columba.core.theme">
    <extension id="Hippo" class="HippoLookAndFeelPlugin"></extension>
  </extensionlist>
  <runtime jar="HippoLookAndFeel.jar" type="java"></runtime>
</plugin>
